In [1]:
# Loading libraries
import numpy as np
import pandas as pd

In [2]:
from google.colab import files		
files.upload()

Saving dwm_expt4_grocery.csv to dwm_expt4_grocery.csv

{'dwm_expt4_grocery.csv': b'"MILK,BREAD,BISCUIT"\r\n"BREAD,MILK,BISCUIT,CORNFLAKES"\r\n"BREAD,TEA,BOURNVITA"\r\n"JAM,MAGGI,BREAD,MILK"\r\n"MAGGI,TEA,BISCUIT"\r\n"BREAD,TEA,BOURNVITA"\r\n"MAGGI,TEA,CORNFLAKES"\r\n"MAGGI,BREAD,TEA,BISCUIT"\r\n"JAM,MAGGI,BREAD,TEA"\r\n"BREAD,MILK"\r\n"COFFEE,COCK,BISCUIT,CORNFLAKES"\r\n"COFFEE,COCK,BISCUIT,CORNFLAKES"\r\n"COFFEE,SUGER,BOURNVITA"\r\n"BREAD,COFFEE,COCK"\r\n"BREAD,SUGER,BISCUIT"\r\n"COFFEE,SUGER,CORNFLAKES"\r\n"BREAD,SUGER,BOURNVITA"\r\n"BREAD,COFFEE,SUGER"\r\n"BREAD,COFFEE,SUGER"\r\n"TEA,MILK,COFFEE,CORNFLAKES"'}

In [3]:
df = pd.read_csv('dwm_expt4_grocery.csv', sep=',', names=['data'], delimiter=None)
df.head(3)
df.tail(5)

                          data
15     COFFEE,SUGER,CORNFLAKES
16       BREAD,SUGER,BOURNVITA
17          BREAD,COFFEE,SUGER
18          BREAD,COFFEE,SUGER
19  TEA,MILK,COFFEE,CORNFLAKES

In [4]:
df['data'] = df['data'].str.split(",")
df.head(10)

                                 data
0              [MILK, BREAD, BISCUIT]
1  [BREAD, MILK, BISCUIT, CORNFLAKES]
2             [BREAD, TEA, BOURNVITA]
3           [JAM, MAGGI, BREAD, MILK]
4               [MAGGI, TEA, BISCUIT]
5             [BREAD, TEA, BOURNVITA]
6            [MAGGI, TEA, CORNFLAKES]
7        [MAGGI, BREAD, TEA, BISCUIT]
8            [JAM, MAGGI, BREAD, TEA]
9                       [BREAD, MILK]

In [5]:
unique_list = []
all_list = []
for i in df['data'] :
  for j in i :
    all_list.append(j)
    if j not in unique_list :
      unique_list.append(j)
unique_list

['MILK',
 'BREAD',
 'BISCUIT',
 'CORNFLAKES',
 'TEA',
 'BOURNVITA',
 'JAM',
 'MAGGI',
 'COFFEE',
 'COCK',
 'SUGER']

In [6]:
df1 = pd.DataFrame(unique_list, columns=['data'])
df1['data'].nunique()
df1

          data
0         MILK
1        BREAD
2      BISCUIT
3   CORNFLAKES
4          TEA
5    BOURNVITA
6          JAM
7        MAGGI
8       COFFEE
9         COCK
10       SUGER

In [7]:
col = 0
for k in df1['data'] :
  l = []
  c = 0
  for i in df['data'] :
    c = c+1
    l.append("0")
    for j in i :
      if (j == k) : 
        l[c-1] = k
        break
      else : 
        continue
  df[col] = l
  col = col+1

df.drop(['data'], inplace=True, axis=1)
df

      0      1        2           3    4   ...   6      7       8     9      10
0   MILK  BREAD  BISCUIT           0    0  ...    0      0       0     0      0
1   MILK  BREAD  BISCUIT  CORNFLAKES    0  ...    0      0       0     0      0
2      0  BREAD        0           0  TEA  ...    0      0       0     0      0
3   MILK  BREAD        0           0    0  ...  JAM  MAGGI       0     0      0
4      0      0  BISCUIT           0  TEA  ...    0  MAGGI       0     0      0
5      0  BREAD        0           0  TEA  ...    0      0       0     0      0
6      0      0        0  CORNFLAKES  TEA  ...    0  MAGGI       0     0      0
7      0  BREAD  BISCUIT           0  TEA  ...    0  MAGGI       0     0      0
8      0  BREAD        0           0  TEA  ...  JAM  MAGGI       0     0      0
9   MILK  BREAD        0           0    0  ...    0      0       0     0      0
10     0      0  BISCUIT  CORNFLAKES    0  ...    0      0  COFFEE  COCK      0
11     0      0  BISCUIT  CORNFLAKES    0  ...    0      0  COFFEE  COCK      0
12     0      0        0           0    0  ...    0      0  COFFEE     0  SUGER
13     0  BREAD        0           0    0  ...    0      0  COFFEE  COCK      0
14     0  BREAD  BISCUIT           0    0  ...    0      0       0     0  SUGER
15     0      0        0  CORNFLAKES    0  ...    0      0  COFFEE     0  SUGER
16     0  BREAD        0           0    0  ...    0      0       0     0  SUGER
17     0  BREAD        0           0    0  ...    0      0  COFFEE     0  SUGER
18     0  BREAD        0           0    0  ...    0      0  COFFEE     0  SUGER
19  MILK      0        0  CORNFLAKES  TEA  ...    0      0  COFFEE     0      0

[20 rows x 11 columns]

In [8]:
df.shape

(20, 11)

In [9]:
!pip install apyori
from apyori import apriori
rec = []
for i in range(20) :
  rec.append([str(df.values[i,j]) for j in range(11) if str(df.values[i,j])!= 'nan'])
assoc = apriori(rec, min_length=2, min_support=0.3, min_confidence=0.6, min_lift=1)
assoc = list(assoc)
assoc

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp37-none-any.whl size=5975 sha256=c50c6f08d72ef52b9be7be0d12d3b2ed5c66714b888ea6798c28026a85650dff
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

[RelationRecord(items=frozenset({'0'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'0'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'BREAD'}), support=0.65, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'BREAD'}), confidence=0.65, lift=1.0)]),
 RelationRecord(items=frozenset({'BISCUIT', '0'}), support=0.35, ordered_statistics=[OrderedStatistic(items_base=frozenset({'BISCUIT'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'0', 'BREAD'}), support=0.65, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'0', 'BREAD'}), confidence=0.65, lift=1.0), OrderedStatistic(items_base=frozenset({'0'}), items_add=frozenset({'BREAD'}), confidence=0.65, lift=1.0), OrderedStatistic(items_base=frozenset({'BREAD'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'COFFEE', '0'}), support=0.4, ordered_statistics=[OrderedStatistic(items_base=frozenset({'COFFEE'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'0', 'CORNFLAKES'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'CORNFLAKES'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'0', 'SUGER'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'SUGER'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'0', 'TEA'}), support=0.35, ordered_statistics=[OrderedStatistic(items_base=frozenset({'TEA'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.0)])]

In [10]:
from mlxtend.frequent_patterns import apriori, association_rules
def encode_units(x):
    if x == "0":
        return 0
    else:
        return 1

basket_sets = df.applymap(encode_units)
basket_sets
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)
frequent_itemsets
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

  antecedents consequents  antecedent support  ...      lift  leverage  conviction
0         (0)         (1)                0.25  ...  1.230769    0.0375    1.750000
1         (1)         (0)                0.65  ...  1.230769    0.0375    1.083333
2         (0)         (2)                0.25  ...  1.142857    0.0125    1.083333
3         (2)         (0)                0.35  ...  1.142857    0.0125    1.050000
4         (0)         (3)                0.25  ...  1.333333    0.0250    1.166667

[5 rows x 9 columns]